name: arima
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.12
  - ipykernel
  - pandas
  - matplotlib
  - scipy
  - seaborn
  - scikit-learn
  - pmdarima
prefix: /home/dracdarktime/miniconda3/envs/arima
